! Colors

! black dark/light
*color0:                #000000
*color8:                #717cb4
! red dark/light
*color1:                #f07178
*color9:                #f07178
! green dark/light
*color2:                #c3e88d 
*color10:               #c3e88d
! yellow dark/light
*color3:                #ffcb6b 
*color11:               #ffcb6b 
! blue dark/light
*color4:                #82aaff 
*color12:               #82aaff
! magenta dark/light
*color5:                #c792ea
*color13:               #c792ea
! cyan dark/light
*color6:                #89ddff
*color14:               #89ddff
! white dark/light
*color7:                #eeffff 
*color15:               #eeffff

